.ccForm {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 50vw;
  & div {
    display: grid;
    grid-template-columns: 3fr 4fr;
    margin-bottom: 0.5rem;
    &:last-child {
      grid-template-columns: 1fr;
    }
  }
}
